/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2 {
    text-align: center;
}

form {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-bottom: 5px;
}

#ingredients-list {
    margin: 20px;
}

#ingredients-list ul {
    list-style: none;
    padding: 0;
}

#ingredients-list li {
    margin-bottom: 10px;
}